<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link th:href="@{/style/main.css}" rel="stylesheet" />
</head>
<body>

    <h2> Labs Web Interface </h2>
    <br/>

    <form th:method="POST" th:action="@{/}" th:object="${message}">
        <label for="to">Кому</label>
        <input type="text" th:field="*{to}" id="to"/>

        <label for="from">От кого</label>
        <input type="text" th:field="*{from}" id="from"/>

        <label for="name">Сообщение</label>
        <input type="text" th:field="*{text}" id="name"/>

<!--        <div th:if="${answer != null}">-->
        <p th:text="${answer.getText()}" class="answer">[answer]</p>
<!--        </div>-->

        <input type="submit" value="Enter" class="btn"/>
    </form>
</body>
</html>